// Variables

// Imports

@import "bower_components/bulma/bulma.sass";


// Styles
.singers-list-tags {
  display: inline-flex;
}

.singer-select-trigger.tag.is-delete {
  &:before {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  &:after {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  &.is-active {
    background-color: #e0e0e0;
  }
}

.song-part-section {
  margin-top: 1em;
}

.song-part-section-icon {
  cursor: pointer;
}

[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

.is-orange {
  &.text {
    color: $orange;
  }
  &.back {
    background-color: $orange;
    color: $orange-invert;
  }
}
.is-yellow {
  &.text {
    color: $yellow;
  }
  &.back {
    background-color: $yellow;
    color: $yellow-invert;
  }
}
.is-green {
  &.text {
    color: $green;
  }
  &.back {
    background-color: $green;
    color: $green-invert;
  }
}
.is-turquoise {
  &.text {
    color: $turquoise;
  }
  &.back {
    background-color: $turquoise;
    color: $turquoise-invert;
  }
}
.is-blue {
  &.text {
    color: $blue;
  }
  &.back {
    background-color: $blue;
    color: $blue-invert;
  }
}
.is-purple {
  &.text {
    color: $purple;
  }
  &.back {
    background-color: $purple;
    color: $purple-invert;
  }
}
.is-red {
  &.text {
    color: $red;
  }
  &.back {
    background-color: $red;
    color: $red-invert;
  }
}
.is-black {
  &.text {
    color: $black;
  }
  &.back {
    background-color: $black;
    color: $white;
  }
}
.is-grey {
  &.text {
    color: $grey;
  }
  &.back {
    background-color: $grey;
    color: $grey-dark;
  }
}
.is-white {
  &.text {
    color: $white;
  }
  &.back {
    background-color: $white;
    color: $black;
  }
}


@import "ember-power-select";
