// Variables

// Imports

@import "bower_components/bulma/bulma.sass";


// Styles

// Colors
.part-aqua {
  background-color: #7fdbff;
  color: hsl(197, 100%, 20%);
}

.part-black {
  background-color: #111111;
  color: #DDDDDD;
}

.part-blue {
  background-color: #0074d9;
  color: hsl(208, 100%, 85%);
}

.part-fuchsia {
  background-color: #f012be;
  color:hsl(314, 88%, 210)
}

.part-gray {
  background-color: #aaaaaa;
}

.part-green {
  background-color: #2ecc40;
  color: hsl(127, 63%, 15%);
}

.part-lime {
  background-color: #01ff70;
  color: hsl(146, 100%, 20%);
}

.part-maroon {
  background-color: #85144b;
  color: hsl(331, 74%, 70%);
}

.part-navy {
  background-color: #001f3f;
  color: hsl(210, 100%, 75%);
}

.part-olive {
  background-color: #3d9970;
  color: hsl(153, 43%, 15%);
}

.part-orange {
  background-color: #ff851b;
  color: hsl(28, 100%, 20%);
}

.part-purple {
  background-color: #b10dc9;
  color: hsl(292, 88%, 820)
}

.part-red {
  background-color: #ff4136;
  color: hsl(3, 100%, 15%);
}

.part-silver {
  background-color: #dddddd;
}

.part-teal {
  background-color: #39cccc;
}

.part-yellow {
  background-color: #ffdc00;
  color: hsl(52, 100%, 20%)
}

.part-white {
  background-color: #ffffff;
  color: #444;
}

.song-part-section {
  margin-top: 1em;
}

.song-part-section-icon {
  cursor: pointer;
}

[data-ember-action]:not(:disabled) {
  cursor: pointer;
}
