<div class="columns is-multiline">
  {{#each model as |song|}}
    <div class="column is-one-third">
      <nav class="panel">

        <p class="panel-heading">
          {{#link-to "songs.song" song }}{{song.name}}{{/link-to}}
        </p>

        {{#each song.songParts as |part|}}
          <div class="panel-block">
            {{part.name}}
          </div>
        {{/each}}

      </nav>
    </div>
  {{/each}}
</div>
