{{#bulma-columns isMultiline=true}}
  {{#each model as |song|}}
    {{#bulma-column isOneThird=true}}
      <nav class="panel">

        <p class="panel-heading">
          {{#link-to "songs.song" song }}{{song.name}}{{/link-to}}
        </p>

        {{#each song.songParts as |part|}}
          {{#bulma-panel-block}}
            {{part.name}}
          {{/bulma-panel-block}}
        {{/each}}

      </nav>
    {{/bulma-column}}
  {{/each}}
{{/bulma-columns}}
