<!-- app/templates/application.hbs -->

<section class="hero is-small is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Lyxpeen
      </h1>
      <h2 class="subtitle">
        Open source choir organizer
      </h2>
    </div>
  </div>
</section>

{{#bulma-section}}
  {{outlet}}
{{/bulma-section}}

{{#bulma-footer}}
  Lyxpeen is an open-source choir management tool
{{/bulma-footer}}
