<div class="columns">
  <aside class="menu column is-one-quarter">
    <p class="menu-label">
      Folders
    </p>
    <ul class="menu-list">
      {{#each model as |folder|}}
        <li>{{#link-to "folders.folder.songs" folder class="list-group-item" activeClass="is-active"}}
          {{folder.name}}
        {{/link-to}}</li>
      {{/each}}
    </ul>
  </aside>
  <div class="column is-three-quarters">
    {{outlet}}
  </div>
</div>
