<div class="columns">
  <div class="column is-one-quarter">
    <div class="menu">
    <p class="menu-label">
      Folders
    </p>
      <ul class="menu-list">
        {{#each model as |folder|}}
          <li>{{#link-to "folders.folder.songs" folder class="list-group-item"}}
            {{folder.name}}
          {{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="column is-three-quarters">
    {{outlet}}
  </div>
</div>
