{{#bulma-columns}}
  {{#bulma-column isOneQuarter=true}}
    {{#bulma-menu }}
      {{#bulma-menu-list label="Folders"}}
        {{#each model as |folder|}}
          <li>{{#link-to "folders.folder.songs" folder class="list-group-item"}}
            {{folder.name}}
          {{/link-to}}</li>
        {{/each}}
      {{/bulma-menu-list}}
    {{/bulma-menu}}
  {{/bulma-column}}
  {{#bulma-column isThreeQuarters=true}}
    {{outlet}}
  {{/bulma-column}}
{{/bulma-columns}}
